<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  if (is_archive()){
    title = __('archive_a');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({weibo:theme.weibo, wechat: theme.wechat, qq:theme.qq, mail: theme.mail}) %>
  <link rel="dns-prefetch" href="https://cdn.bootcdn.net/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <%- css_cdn({href:config.cdn+'font-awesome/4.7.0/css/font-awesome.min',integrity:'sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0= sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=='}) %>
  <% if (config.highlight.enable){ %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    integrity="sha384-V21luo/cU069x0ilf0p4IF0hYMxNW4Adv6EB/NdzOTlHRpO8ef1YsM4XBLgCvTmf" crossorigin="anonymous">
  <% } %>
  <%- css('css/style') %>
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <meta name="baidu-site-verification" content="1W34rVIdAO" />
</head>